.navbar {
    background-color: #96C3CE;
    font-family: 'Bilbo Swash Caps';
}
.signup {
    font-family: 'Bilbo Swash Caps';
   background-color: #96C3CE ;
   color: #96C3CE;
}
.footer {
    font-family: 'Bilbo Swash Caps';
    background-color: #96C3CE;
      margin-top: auto;
    }
    
.footer-info {
    font-size: 93%;
}

.loglink {
    color:#B57BA6;
}
.card-title {
    font-family:'Bilbo Swash Caps' ;
}
img {
    max-width: 100%;
    height: 50;
    }
<<<<<<< HEAD
    .carousel-control-next-icon {
        color:#0482AA;
    }
.img-size {
    height:250px;
    width:250px;
=======
.ftc {
    color:#B57BA6
>>>>>>> ab98ddbc4aaeea4c03da4db4743f0fde95a5f0cc
}
