.navbar {
    background-color: #96C3CE;
    font-family: 'Bilbo Swash Caps';
}
.signup {
    font-family: 'Bilbo Swash Caps';
}
.footer {
    font-family: 'Bilbo Swash Caps';
    background-color: #96C3CE;
      margin-top: auto;
    }
    
.card {
   background-color: #96C3CE ;
}
.footer-info {
    font-size: 93%;
}